<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">

	<resultMap type="community" id="communityMap">
		<result column="BOARD_ID" property="board_id"/>
		<result column="TITLE" property="title"/>
		<result column="CONTENT" property="content"/>
		<result column="WRITER" property="writer"/>
		<result column="WRITE_DATE" property="writer_date"/>
		<result column="SEE" property="see"/>
		<result column="COMMENT_COUNT" property="comment_count"/>
	</resultMap>
	
	<select id="selectCommunityList" resultMap="communityMap">
		SELECT * FROM COMU_BOARD ORDER BY BOARD_ID DESC
	</select>
	
	<select id="selectCommunityTotalContents" resultType="_int">
		SELECT COUNT(*) FROM COMU_BOARD
	</select>
	
	<select id="selectCommunityOneView" parameterType="community" resultMap="communityMap">
		SELECT * FROM COMU_BOARD WHERE BOARD_ID = #{board_id}
	</select>
	
	<insert id="communityInsert" parameterType="community">
		INSERT INTO COMU_BOARD VALUES (SEQ_BOARD_ID.NEXTVAL, #{title}, #{content}, #{writer}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<update id="increaseCommunitySee" parameterType="_int">
		UPDATE COMU_BOARD SET SEE = SEE + 1 WHERE BOARD_ID = #{board_id}
	</update>
	
	<select id="communityUpdateForm" parameterType="community" resultMap="communityMap">
		SELECT * FROM COMU_BOARD WHERE BOARD_ID = #{board_id}
	</select>
	
	<update id="communityUpdateEnd" parameterType="community"> 
		UPDATE COMU_BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE BOARD_ID = #{board_id}
	</update>
	
	<delete id="communityDelete" parameterType="community">
		DELETE FROM COMU_BOARD WHERE BOARD_ID = #{board_id}
	</delete>
	
	<delete id="communityDeleteUser" parameterType="string">
		DELETE FROM COMU_BOARD WHERE WRITER = #{id}
	</delete>
	
	<select id="selectCommunitySearch" parameterType="map" resultMap="communityMap">
		SELECT * FROM COMU_BOARD
		WHERE 
		<!-- supported Class monitor -->
			<if test="searchSelect eq 'TITLE'">
				TITLE
			</if>
			<if test="searchSelect eq 'WRITER'">
				WRITER
			</if>
			<if test="searchSelect eq 'CONTENT'">
				CONTENT
			</if>
		LIKE '%'||#{searchComu}||'%' ORDER BY BOARD_ID DESC
	</select>
	
	<select id="selectCommunityTotalContentsSer" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM COMU_BOARD WHERE TITLE LIKE '%'||#{searchComu}||'%'
	</select>
	
	<select id="selectCommentCount" resultType="_int">
		SELECT COUNT(*) FROM COMU_COMMENT WHERE BOARD_ID = #{board_id}
	</select>
	
	<delete id="communityDelCom" parameterType="community">
		DELETE FROM COMU_COMMENT WHERE BOARD_ID = #{board_id}
	</delete>
</mapper>





















