<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="comment">

	<resultMap type="comment" id="commentMap">
		<result column="BOARD_ID" property="board_id"/>
		<result column="COMMENT_ID" property="comment_id"/>
		<result column="COMMENT_CONTENT" property="comment_content"/>
		<result column="WRITER_ID" property="writer_id"/>
		<result column="WRITER_DATE" property="writer_date"/>
	</resultMap>
	
	<select id="commentList" resultMap="commentMap">
		SELECT * FROM COMU_COMMENT WHERE BOARD_ID = #{board_id} ORDER BY WRITER_DATE ASC
	</select>
	
	<insert id="commentInsert" parameterType="comment">
		INSERT INTO COMU_COMMENT VALUES (#{board_id}, SEQ_COMMENT.NEXTVAL, #{comment_content}, #{writer_id}, DEFAULT)
	</insert>
	
	<update id="commentUpdat" parameterType="comment">
		UPDATE COMU_COMMENT SET COMMENT_CONTENT = #{comment_content} WHERE COMMENT_ID = #{comment_id}
	</update>
	
	<delete id="commentDelete" parameterType="comment">
		DELETE FROM COMU_COMMENT WHERE COMMENT_ID = #{comment_id}
	</delete>
	
	<delete id="commentDelete1" parameterType="comment">
		DELETE FROM COMU_COMMENT WHERE BOARD_ID = #{board_id}
	</delete>
	
</mapper>





















