<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Intro">

	<resultMap type="banner" id="bannerMap">
		<result column="ID" property="mItemID"/>
		<result column="TITLE" property="mItemTitle"/>
		<result column="CONTENT" property = "mItemContent"/>
		<result column="URL" property="mUrl"/>
	</resultMap>
	
	<resultMap type="movie" id="MovieMap">
		<result column="ID" property="mItemID"/>
		<result column="TITLE" property="mItemTitle"/>
		<result column="URL" property="mUrl"/>
	</resultMap>
	
	<resultMap type="top10" id="top10Map">
		<result column="ID" property="mItemID"/>
		<result column="TITLE" property="mItemTitle"/>
		<result column="SPECIFY" property = "mItemContent"/>
		<result column="URL" property="mUrl"/>
	</resultMap>
	
	<resultMap type="algorithm" id="algoMap">
		<result column="ID" property="mItemID"/>
		<result column="TITLE" property="mItemTitle"/>
		<result column="CONTENT" property = "mItemContent"/>
		<result column="URL" property="mUrl"/>
		<result column="IMAGE" property="mImage"/>
	</resultMap>
	
	<select id ="AlgorithmList" resultMap="algoMap">
		select * from M_ALGORITHM
	</select>
	
	<select id="Top10List" resultMap="top10Map">
		select * from M_NEW_TEC_10
	</select>
	
	<select id="BannerList" resultMap="bannerMap">
		select * from M_BANNER
	</select>

	<select id="MovieList" resultMap="MovieMap">
		select * from M_MOVIE
	</select>
		
</mapper>
