@CHARSET "UTF-8";

@FONT-FACE {
		font-family: "timeMachine";
		src:url("../../font/title/a타임머신.ttf");
	}
	
	@FONT-FACE {
		font-family: "vitamin";
		src:url("../../font/title/a비타민.ttf");
	}
	
	@FONT-FACE {
		font-family: "scenario";
		src:url("../../font/title/a시나리오.ttf");
	}
	
	@FONT-FACE {
		font-family: "watch";
		src:url("../../font/title/a전자시계.ttf");
	}
	
	@FONT-FACE {
		font-family: "whiteCloud";
		src:url("../../font/title/a하얀구름.ttf");
	}
	
	@FONT-FACE {
		font-family: "jeuse";
		src:url("../../font/title/a제우스.ttf");
	}
	
	@FONT-FACE {
		font-family: "penB";
		src:url("../../font/normal/a펜고딕B.ttf");
	}

	.padding_line{
		padding-right: 15%;
		padding-left: 15%;
		font-family: "penB";
	}
	
	.line_image{
		height:60px;
		width:60px;
	}
	
	.header_color{
		background: #ffde00;
	}
	
	.guide{
		display:none;;
	}
	
	.ok{
		color:green;
	}
	
	.error{
		color:red;
	}