<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="academy">
	<resultMap type="academy" id="academyMap">
		<result column="ID" property="id"/>
		<result column="ACADEMY_ID" property="academyId"/>
		<result column="EDUCATION_TITLE" property="educationTitle"/>
		<result column="AC_NAME" property="academyName"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="CONTENT" property="content"/> 
	</resultMap>
	
	<insert id="insertAcademy" parameterType="academy">
		INSERT INTO ACADEMY VALUES(
			#{id} , ACADEMY_SEQ.NEXTVAL , #{educationTitle},
			#{academyName} , #{startDate, jdbcType=DATE}, #{endDate, jdbcType=DATE},
			#{content}
		)
	</insert>
	
	<select id="selectAcademyList" resultMap="academyMap" parameterType="_int">
		SELECT * FROM ACADEMY WHERE ID = #{id}
	</select>
	
	<select id ="selectOneAcademy" resultMap="academyMap" parameterType="_int">
		SELECT * FROM ACADEMY WHERE ACADEMY_ID = #{academyId}
	</select>
	
	<select id="selectCountAcademy" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM ACADEMY WHERE ID =#{id}
	</select>
	
	<delete id="deleteAcademy" parameterType="_int">
		DELETE FROM ACADEMY WHERE ACADEMY_ID = #{academyId}
	</delete>
	
	<update id="updateAcademy" parameterType="academy">
		UPDATE ACADEMY SET EDUCATION_TITLE = #{educationTitle},
			AC_NAME = #{academyName},
			START_DATE = #{startDate, jdbcType=DATE},
			END_DATE = #{endDate, jdbcType=DATE},
			CONTENT = #{content} WHERE ACADEMY_ID = #{academyId}
	</update>
	
</mapper>
