<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="highschool">
	<resultMap type="highschool" id="schoolMap">
		<result column="ID" property="id"/>
		<result column="HIGH_ID" property="highSchoolId"/>
		<result column="SCHOOL_NAME" property="schoolName"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="GRADU_DATE" property="graduDate"/>
	</resultMap>
	
	<insert id="insertHighSchool" parameterType="highschool">
		INSERT INTO HIGH_SCHOOL VALUES(
			#{id} , SCHOOL_SEQ.NEXTVAL , #{schoolName} ,
			#{enrollDate, jdbcType=DATE}, #{graduDate, jdbcType=DATE}
		)
	</insert>
	
	<select id ="selectOneHighSchool" resultMap="schoolMap" parameterType="_int">
		SELECT * FROM HIGH_SCHOOL WHERE ID = #{id}
	</select>
		
	<delete id="deleteHighSchool" parameterType="_int">
		DELETE FROM HIGH_SCHOOL WHERE HIGH_ID = #{highSchoolId}
	</delete>
	
	<update id="updateHighSchool" parameterType="highschool">
		UPDATE HIGH_SCHOOL SET SCHOOL_NAME = #{schoolName} ,
		ENROLL_DATE = #{enrollDate, jdbcType=DATE},
		GRADU_DATE = #{graduDate, jdbcType=DATE} WHERE HIGH_ID = #{highSchoolId}
	</update>
	
</mapper>
