<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hope">
	<resultMap type="hope" id="hopeMap">
		<result column="ID" property="id"/>
		<result column="CONDITION_ID" property="conditionId"/>
		<result column="SALARY" property="salary"/>
		<result column="LOCATION" property="location"/>
		<result column="JOB" property="job"/>
	</resultMap>
	
	<insert id="insertHope" parameterType="hope">
		INSERT INTO HOPE_CONDITION (
			ID, CONDITION_ID, SALARY, LOCATION, JOB
		) 
		VALUES(
			#{id}, HOPE_SEQ.NEXTVAL, #{salary}, #{location}, #{job}
		)
	</insert>
	
	<!-- <select id="selectHopeList" resultMap="hopeMap" parameterType="_int">
	
	</select> -->
	
	<select id ="selectOne" resultMap="hopeMap" parameterType="_int">
		SELECT * FROM HOPE_CONDITION WHERE ID = #{id}
	</select>
	
	<!-- <select id="selectCountAcademy" resultType="_int" parameterType="_int">
		
	</select> -->
	
	<delete id="deleteHope" parameterType="_int">
		DELETE FROM HOPE_CONDITION WHERE ID = #{id}
	</delete>
	
	<update id="updateHope" parameterType="hope">
		UPDATE HOPE_CONDITION SET SALARY = #{salary},
		LOCATION = #{location},
		JOB = #{job} WHERE CONDITION_ID = #{conditionId}
	</update>
	
</mapper>
